<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diabeticguard">

    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_MEDIA_LOCATION"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/diabetic_guard_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/diabetic_guard_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiabeticGuard">
        <receiver android:name="com.example.diabeticguard.AlarmBroadcastReceiver" >
        </receiver>
        <activity
            android:name="com.example.diabeticguard.SearchHomePage"
            android:exported="false" />
        <activity
            android:name="com.example.diabeticguard.HomePage"
            android:exported="false" />
        <activity
            android:name="com.example.diabeticguard.DisplayUserInfo"
            android:exported="false" />
        <activity
            android:name="com.example.diabeticguard.CameraHomePage"
            android:exported="false" />
        <activity
            android:name="com.example.diabeticguard.DisplayBloodSugarChartPage"
            android:exported="false" />
        <activity
            android:name="com.example.diabeticguard.UploadToDBPage"
            android:exported="false" />
        <activity
            android:name="com.example.diabeticguard.DisplayStandardPage"
            android:exported="false" />
        <activity
            android:name="com.example.diabeticguard.MealPage"
            android:exported="false" />
        <activity
            android:name="com.example.diabeticguard.CouponPage"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
        <activity
            android:name="com.example.diabeticguard.RegisterUser"
            android:exported="false" />
        <activity
            android:name="com.example.diabeticguard.MainActivityLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
</manifest>